{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>About Me</h2>
    <p>Nombre: Maximo Lasa</p>
    <p>Edad: 22</p>
    <p>Actualemente me encuentro trabajando como Chatbot Developer en Snappy Commerce, donde realizo tareas de desarrollo de asistentes virtuales inteligentes para empresas.
    Me apasionan los deportes, videojuegos,  aprender cosas nuevas constantemente y en mi tiempo libre me gusta aprender sobre programacion. 
    Es el 3er curso que realizo de coder y estoy muy feliz de continuar aprendiendo aqui.
    </p>
    <p>En un futuro me gustaria dedicarme a programacion en Python e irme a vivir a Estados unidos o Europa</p>
    
    
</div>
{% endblock %}