{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'miapp/css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex-grow: 1;
        }

        .text-secondary {
            color: gray;
        }
    </style>

    <title>{% block title %}Mi Sitio{% endblock %}</title>
    
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">Games Reviews</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'insertar_datos' %}">Escribe tu Reseña</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'buscar' %}">Buscar Reseñas</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <span class="navbar-text mr-2">
                                
                                <a class="nav-link" href="{% url 'profile_edit' %}">Mi Perfil</a>
                                
                                
                            </span>
                            <span class="text-secondary">  Bienvenido,  {{ request.user.username }}</span>

                            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                            <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>




    <footer class="mt-auto bg-dark text-white text-center py-2 d-flex align-items-center">
        <div class="flex-fill">
            <p class="mb-0">Maximo Lasa 2023 &copy; CoderHouse </p>
        </div>
        <a href="{% url 'about_me' %}"><span class="ml-auto" style="margin-right: 10px; color: white; ">About Me</span></a>
    </footer>
    
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
